<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script type="text/javascript" th:src="@{js/jquery-1.8.3.js}"></script>
    <script>
        $(function () {
            $("#d_name").blur(function () {
                var d_name=$("#d_name").val();
                $.ajax({
                    type:"post",
                    url:"checkd_name",
                    data:{"d_name":d_name},
                    success:function (data) {
                        $("#isuse").html(data)
                        if (data=="部门已存在"){
                            $("#isuse").css("color","red")
                        }else {
                            $("#isuse").css("color","green")
                            $("#add").removeAttr("disabled");
                        }
                    }
                })
            });
            $("#d_name").focus(function () {
                $("#isuse").html("");
                $("#add").attr("disabled","");
            })
        })
    </script>
    <style>
        body{
            background-image:url("images/bj.jpg");
            background-size:100% auto;
        }
        div{
            margin-left: 590px;
            margin-top: 225px;
        }
    </style>
</head>
<body>
    <div>
        <form method="post" action="adddept">
            部门名称:<input type="text" name="d_name" id="d_name"><br>
            <span id="isuse" style="margin-left: 70px"></span><br>
            部门地址:<input type="text" name="d_address"><br>
            <input type="submit" value="添加" disabled="" id="add" style="margin-top: 10px">
            <input type="button" value="返回" style="margin-top:10px;margin-left: 150px">
        </form>
    </div>
</body>
</html>