<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    姓名:<input type="text" disabled="" th:value="${b_resume.res_name}"><br>
    电话:<input type="text" disabled="" th:value="${b_resume.res_phone}"><br>
    邮箱:<input type="text" disabled="" th:value="${b_resume.res_email}"><br>
    学历:<input type="text" disabled="" th:value="${b_resume.res_education}"><br>
    部门:<select>

        </select>
</body>
</html>