<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <style>
        body{
            background-image:url("images/bj.jpg");
            background-size:100% auto;
        }
        div{
            margin-left: 590px;
            margin-top: 225px;
        }
    </style>
</head>
<body>
    <div>
        <form method="post" action="saveemployee">
            姓名:<input type="text" th:readonly="true" th:value="${resume.res_name}" name="e_name" ><br>
            电话:<input type="text"  th:readonly="true" th:value="${resume.res_phone}" name="e_phone" style="margin-top: 10px"><br>
            邮箱:<input type="text"  th:readonly="true" th:value="${resume.res_email}" name="e_email" style="margin-top: 10px"><br>
            学历:<input type="text" th:readonly="true" th:value="${resume.res_education}" name="e_education" style="margin-top: 10px"><br>
            部门:<input type="text" th:readonly="true" th:value="${d_name}" style="margin-top: 10px">
            <input type="hidden"  th:value="${recruit.rec_d_id}" name="e_d_id" style="margin-top: 10px"><br>
            职位:<input type="text" th:readonly="true" th:value="${p_name}" style="margin-top: 10px">
            <input type="hidden" th:value="${recruit.rec_p_id}" name="e_p_id"><br>
            <input type="hidden" name="e_pass"  value="147258963">
            <input type="hidden" name="a_id"  th:value="${a_id}">
            <input type="submit" value="录用" style="margin-top: 10px">
        </form>
    </div>
</body>
</html>