<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-image:url("images/bj.jpg");
            background-size:100% auto;
        }
    </style>
</head>
<body>
<form method="post" action="savetrainrecord">
    <table>
        <tr>
            <td></td>
            <td>员工编号</td>
            <td>员工姓名</td>
            <td>员工电话</td>
            <td>员工邮箱</td>
            <td>所在部门</td>
            <td>所属职位</td>
        </tr>
        <tr th:each="emp:${emps}">
            <td>
                <input type="checkbox" th:value="${emp.e_id}" name="tr_e_id">
                <input type="hidden" th:value="${t_id}" name="t_id">
            </td>
            <td th:text="${emp.e_id}"></td>
            <td th:text="${emp.e_name}"></td>
            <td th:text="${emp.e_phone}"></td>
            <td th:text="${emp.e_email}"></td>
            <td th:text="${emp.d_name}"></td>
            <td th:text="${emp.p_name}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="加入培训"></td>
        </tr>
    </table>
</form>
</body>
</html>