<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>申请编号</td>
        <td>查看简历</td>
        <td >面试结果</td>
    </tr>
    <tr th:each="b_application:${b_application}">
        <td th:text="${b_application.a_id}"></td>
        <td><a th:href="@{getresume(a_res_id=${b_application.a_res_id})}">查看简历</a></td>
        <td th:if="${b_application.a_state==2}" th:text="已面试"></td>
        <td><a th:href="@{gotoaddemployee(res_id=${b_application.a_res_id},a_rec_id=${b_application.a_rec_id})}">录用</a></td>
    </tr>
</table>
</body>
</html>