<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <style>
        body{
            background-image:url("images/bj.jpg");
            background-size:100% auto;
        }
        div{
            margin-top: 200px;
            margin-left: 550px;
        }
    </style>
</head>
<body>
    <div>
        <table border="1px" cellspacing="0px">
            <tr>
                <td>申请编号</td>
                <td>申请人</td>
                <td>查看简历</td>
                <td >面试结果</td>
            </tr>
            <tr th:each="b_application:${b_application}">
                <td th:text="${b_application.a_id}"></td>
                <td th:text="${b_application.res_name}"></td>
                <td><a th:href="@{getresume(a_res_id=${b_application.a_res_id})}">查看简历</a></td>
                <td th:if="${b_application.a_state==2}" th:text="已面试"></td>
                <td><a th:href="@{gotoaddemployee(res_id=${b_application.a_res_id},a_rec_id=${b_application.a_rec_id},a_id=${b_application.a_id})}">录用</a></td>
            </tr>
        </table>
    </div>

</body>
</html>