<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{js/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{js/easyui/themes/icon.css}">
    <link rel="stylesheet" th:href="@{js/ztree/zTreeStyle.css}" type="text/css">
    <script type="text/javascript" th:src="@{js/jquery-1.8.3.js}"></script>
    <script type="text/javascript" th:src="@{js/ztree/jquery.ztree.all-3.5.js}"></script>
    <script type="text/javascript" th:src="@{js/easyui/jquery.easyui.min.js}"></script>
    <style>
        body{
            background-image:url("images/bj.jpg");
            background-size:100% auto;
        }
        #tableinfo{
            position: absolute;
            left: 85px;
            margin-top: 50px;
        }
        #top{
            position: absolute;
            left: 85px;
        }
    </style>
</head>
<body >
    <div id="top">
        <a th:href="@{seeb_resume}" style="margin-left:85px ">简历管理</a>
        <a th:href="@{seeinterview}" style="margin-left:85px ">查看面试邀请</a>
        <a style="margin-left:760px" th:if="${session.user==null}" th:text="登录+'/'+注册" th:href="@{gotologin}"></a>
        <span style="margin-left:760px"  th:if="${session.user!=null}" th:text="${session.user.u_username}+',欢迎你！'"></span>
    </div>
    <div id="tableinfo">
        <table border="1px" cellspacing="0px">
            <tr>
                <td>招聘职位</td>
                <td>岗位要求</td>
                <td>招聘人数</td>
                <td>职位薪资</td>
                <td>联系人</td>
                <td>申请职位</td>
            </tr>
            <tr th:each="recruit:${recruits}">
                <td th:text="${recruit.p_name}"></td>
                <td th:text="${recruit.rec_require}"></td>
                <td th:text="${recruit.rec_empnumber}"></td>
                <td th:text="${recruit.rec_salary}"></td>
                <td th:text="${recruit.rec_contact}"></td>
                <td><a th:href="@{chooseb_resume(a_rec_id=${recruit.rec_id})}">申请职位</a></td>
            </tr>
        </table>
    </div>
</body>
</html>