<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script type="text/javascript" th:src="@{js/jquery-1.8.3.js}"></script>
    <script>
        function acceptinterview(i_id) {
            $.ajax({
                type:"post",
                url:"acceptInterview",
                data:{"i_id":i_id},
                success:function (data) {
                    alert(data);
                    $("#sure").attr("disabled","")
                    location.reload();
                }
            });
        }
    </script>
</head>
<body>
    <table>
        <tr>
            <td>面试时间</td>
            <td>面试地点</td>
        </tr>
        <tr th:each="interview:${b_interviews}" >
            <td th:text="${interview.i_interviewtime}"></td>
            <td th:text="${interview.i_interviewaddress}"></td>
            <td th:if="${interview.i_state==0}">
            <input type="button" id="sure" th:value="接受面试" th:onclick="'javascript:acceptinterview(\''+${interview.i_id}+'\')'"></td>
            </td>
            <td th:if="${interview.i_state==1}">
                <input type="button"  th:value="已接受" disabled="">
            </td>
        </tr>
    </table>
</body>
</html>