<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" th:src="@{js/jquery-1.8.3.js}"></script>
    <script>
        function acceptinvite(a_id) {
            $.ajax({
                type:"post",
                url:"acceptInvite",
                data:{"a_id":a_id},
                success:function (data) {
                  alert(data);
                }
            });
        }
    </script>
    <style>
        body{
             background-image:url("images/bj.jpg");
             background-size:100% auto;
         }
        div{
            margin-top: 200px;
            margin-left: 550px;
        }
    </style>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>面试时间地点</td>
                <td>确认面试</td>
            </tr>
            <tr th:each="app:${apps}">
                <td th:text="${app.a_invitedetail}"></td>
                <td>
                    <input type="button" th:value="确认面试" th:onclick="'javascript:acceptinvite(\''+${app.a_id}+'\')'">
                </td>
            </tr>
        </table>
    </div>

</body>
</html>