<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>姓名</td>
            <td>邮箱</td>
            <td>学历</td>
            <td>应聘职位</td>
        </tr>
        <tr th:each="resume:${b_resumes}">
            <td th:text="${resume.res_name}"></td>
            <td th:text="${resume.res_phone}"></td>
            <td th:text="${resume.res_email}"></td>
            <td th:text="${resume.res_education}"></td>
            <td th:text="${resume.res_p_name}"></td>
            <td><a th:href="@{inviteinterview(i_u_id=${resume.res_u_id},i_res_name=${resume.res_name})}" th:text="邀请面试"></a></td>
        </tr>
    </table>
    </table>
</body>
</html>