<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" th:src="@{js/jquery-1.8.3.js}"></script>
    <script>
        function sendresume(res_id,a_rec_id) {
            $.ajax({
                type:"post",
                url:"sendb_resume",
                data:{"res_id":res_id,"rec_id":a_rec_id},
                success:function (data) {
                    alert(data);
                    location.reload();
                }
            });
        }
    </script>

    <style>
        body{
            background-image:url("images/bj.jpg");
            background-size:100% auto;
            text-align: center;
        }
        div{
            margin-top: 200px;
            margin-left: 380px;
        }
    </style>
</head>
<body>
   <div>
       <table border="1px" cellspacing="0px">
           <tr>
               <td>姓名</td>
               <td>电话</td>
               <td>邮箱</td>
               <td>学历</td>
               <td>工作经验</td>
               <td>项目经验</td>
               <td>应聘职位</td>
               <td>申请</td>
           </tr>
           <tr th:each="resume:${session.b_resumes}">
               <td th:text="${resume.res_name}"></td>
               <td th:text="${resume.res_phone}"></td>
               <td th:text="${resume.res_email}"></td>
               <td th:text="${resume.res_education}"></td>
               <td th:text="${resume.res_workexperience}"></td>
               <td th:text="${resume.res_projectexperience}"></td>
               <td th:text="${resume.res_p_name}"></td>
               <td>
                   <input type="button" value="投递" th:onclick="'javascript:sendresume(\''+${resume.res_id}+'\',\''+${a_rec_id}+'\')'">
               </td>
           </tr>
       </table>
   </div>
</body>
</html>