<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{js/jquery-1.8.3.js}"></script>
    <script>
        function setSelectPosition() {
            var d_name = $('#dept option:selected').text();
            var p_d_id=$('#dept option:selected').val();
            var optionJson=[];
            $.ajax({
                url: "selectposition",
                type: "post",
                data: {"p_d_id":p_d_id},
                datatype: "json",
                success:function(data){
                    optionJson = data;
                    var a=data.length;
                    var selectObj=document.getElementById("position");
                    selectObj.options.length=0;
                    for(var i=0;i<data.length;i++){
                        selectObj.add(new Option(optionJson[i].p_name,optionJson[i].p_id));
                    }
                }
            });
        }
    </script>

    <style>
        body{
            background-image:url("images/bj.jpg");
            background-size:100% auto;
        }
    </style>
</head>
<body>
    <form action="sendb_recruit" method="post">
        部门:
        <select onchange="setSelectPosition()" id="dept" name="rec_d_id" >
            <option>请选择部门</option>
            <option th:each="dept:${session.depts}" th:value="${dept.d_id}" th:text="${dept.d_name}" ></option>
        </select><br>
        职位名称:
        <select id="position" name="rec_p_id">
            <option>请选择职位</option>
        </select><br>
        职位要求:<input type="text" name="rec_require"><br>
        薪资水平:<select name="rec_salary">
                    <option value="4000">3k-5k</option>
                    <option value="7000">5k-8k</option>
                    <option value="9000">8k-10k</option>
                    <option value="1100">10k-13k</option>
                 </select><br>
        招聘人数:<input type="text" name="rec_empnumber"><br>
        联系方式:<input type="text" name="rec_contact">
        <input type="submit" value="发布">
    </form>
</body>
</html>