<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table>
            <tr>
                <td>员工编号</td>
                <td>员工姓名</td>
                <td>员工电话</td>
                <td>员工邮箱</td>
                <td>所在部门</td>
                <td>所属职位</td>
            </tr>
            <tr th:each="emp:${emps}">
                <td th:text="${emp.e_id}"></td>
                <td th:text="${emp.e_name}"></td>
                <td th:text="${emp.e_phone}"></td>
                <td th:text="${emp.e_email}"></td>
                <td th:text="${emp.d_name}"></td>
                <td th:text="${emp.p_name}"></td>
                <td><a th:href="@{transfer(e_id=${emp.e_id})}">调职</a></td>
                <td><input type="button" value="辞退"></td>
                <td><a th:href="@{gotorewandpun(e_id=${emp.e_id})}">奖励/惩罚</a></td>
            </tr>
        </table>
</body>
</html>